<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<!-- PS: Don't forget about this area when adding or removing carousel items -->
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<%= image_tag "carousel/2.jpg", class: "first-slide", alt: "Slider Image" %>
			<div class="container">
				<div class="carousel-caption"> <!-- text-left -->
					<div class="carousel-headings">JM Frieght Services</div>
					<h3>International Freight forwarding, Cargo handling, Transport management, Customs clearing, Warehousing | JM Freight Services Ltd</h3>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag "carousel/3.jpg", class: "second-slide", alt: "Slider Image" %>
			<div class="container">
				<div class="carousel-caption">
					<div class="carousel-headings">JM Frieght Services</div>
					<h3>International Freight forwarding, Cargo handling, Transport management, Customs clearing, Warehousing | JM Freight Services Ltd</h3>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag "carousel/1.jpg", class: "third-slide", alt: "Slider Image" %>
			<div class="container">
				<div class="carousel-caption"> <!-- text-right -->
					<div class="carousel-headings">JM Frieght Services</div>
					<h3>International Freight forwarding, Cargo handling, Transport management, Customs clearing, Warehousing | JM Freight Services Ltd</h3>
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="container-fluid intro-section centered">
	<p>JM Freight Services Ltd: Your leading logistics service partner that gives you a guaranteed personalized service that keeps you moving in a constantly challenging field of logistics services no matter what branch of trade or industry you specialize in. Our efficiency and commitment will always serve you well. We thus aim at being a world class logistics service provider.</p>
</div>


<div class="container-fluid services-section largepadding centered">
	<div class="row">
		<div class="col-sm-12 centered black">
			<h3>Main Services</h3>
		</div>
		<div class="col-sm-3">
			<%= image_tag "clearing.jpg", class: "rounded-circle img-thumbnail", alt: "Services Image" %>
			<div class="caption">
              <p>Customs Clearing</p>
            </div>
		</div>
		<div class="col-sm-3">
			<%= image_tag "handling.jpg", class: "rounded-circle img-thumbnail", alt: "Services Image" %>
			<div class="caption">
              <p>Handling</p>
            </div>
		</div>
		<div class="col-sm-3">
			<%= image_tag "distribution.jpg", class: "rounded-circle img-thumbnail", alt: "Services Image" %>
			<div class="caption">
              <p>Logistics and Distribution</p>
            </div>
		</div>
		<div class="col-sm-3">
			<%= image_tag "warehousing.jpg", class: "rounded-circle img-thumbnail", alt: "Services Image" %>
			<div class="caption">
              <p>Warehousing</p>
            </div>
		</div>
	</div>
</div>


<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-12 lefter"> <!-- <div class="col-sm-8 lefter">  -->
			<div class="row">
				<div class="col-sm-12">
					<h2>Freight Management</h2>
					<hr>
				</div>
				<div class="col-sm-4">
					<%= image_tag "freight.jpg", class: "img-thumbnail" %>
				</div>
				<div class="col-sm-8 justify-content-center align-self-center description">
					<p>
						We are a leading customs agent that has maintained a good relationship with the UGANDA REVENUE AUTHORITY and we offer you the most efficient, time-saving and cost effective clearing services in the country.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<h2>Global logistics</h2>
					<hr>
				</div>
				<div class="col-sm-4">
					<%= image_tag "logistics.jpg", class: "img-thumbnail" %>
				</div>
				<div class="col-sm-8 justify-content-center align-self-center description">
					<p>
						With strong international relations and overseas partners we are in a strategic position to forward your consignments from the port of loading to your preferred point of delivery.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<h2>Other Services</h2>
					<hr>
				</div>
				<div class="col-sm-12 justify-content-center align-self-center description">
					<p>We have crafted our business to offer subsidiary services to keep your business moving. We also offer you:</p>

					<ul type="circle">
						<li>Air chartering and air freight for both imports and exports</li>
						<li>Project cargo</li>
						<li>Dry cargo chartering by sea.</li>
						<li>Ship chartering.</li>
						<li>Shipping consultancy</li>
						<li>Packaging, Removal and Door To Door Delivery</li>
						<li>Motor Vehicle Registartion and Re-registration</li>
						<li>Motor Vehicle De-Registration</li>
						<li>Import &amp; Export Consultancy</li>
						<li>Handling temporary Import and Re-export of Film Equipment</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <div class="col-sm-4 borders righter">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div> -->
	</div>

	
</div>