<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-12 lefter"> <!-- <div class="col-sm-8 lefter">  -->
			<div class="row">
				<div class="col-sm-12">
					<h2>Sea Freight</h2>
					<hr>
				</div>
				<div class="col-sm-4">
					<%= image_tag "sea.jpg", class: "img-thumbnail" %>
				</div>
				<div class="col-sm-8 justify-content-center align-self-center description">
					<p>
						This is one of the core operations of the company, furnished with a team of experts in sea freight, real-time tracking of sea consignments and international shipping partners, JM freight is able to handle all cargo by sea according to terms and conditions agreed upon between the company and the client.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<h2>Air Freight</h2>
					<hr>
				</div>
				<div class="col-sm-4">
					<%= image_tag "air.jpg", class: "img-thumbnail" %>
				</div>
				<div class="col-sm-8 justify-content-center align-self-center description">
					<p>
						With a well equipped air freight management team based at Entebbe international airport(Uganda), we are strategically positioned to offer you the best air cargo handling services in Uganda regardless of the magnitude of the cargo for all types of cargo, perishable, delicate, fragile and any other.
					</p>
				</div>
			</div>

			<div class="row all-services">
				<div class="col-sm-2">
					<%= image_tag "logistics.jpg", class: "img-thumbnail" %>
					<div class="caption">
						<p>Transport Management</p>
					</div>
				</div>
				<div class="col-sm-2">
					<%= image_tag "handling.jpg", class: "img-thumbnail" %>
					<div class="caption">
						<p>Projects Handling</p>
					</div>
				</div>
				<div class="col-sm-2">
					<%= image_tag "distribution.jpg", class: "img-thumbnail" %>
					<div class="caption">
						<p>Logistics &amp; Distribution</p>
					</div>
				</div>
				<div class="col-sm-2">
					<%= image_tag "clearing.jpg", class: "img-thumbnail" %>
					<div class="caption">
						<p>Customs Clearing</p>
					</div>
				</div>
				<div class="col-sm-2">
					<%= image_tag "warehousing.jpg", class: "img-thumbnail" %>
					<div class="caption">
						<p>Warehousing</p>
					</div>
				</div>
				<div class="col-sm-2">
					<%= image_tag "consultancy.png", class: "img-thumbnail" %>
					<div class="caption">
						<p>Consultancy</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>